*{
    margin:0;
    padding:0;
}
body{
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
}

canvas{
    background: #c8c8c8;
    display: block;
}

#eraser {
    position: fixed;
    left: 60px;
    bottom: 4px;
    padding: 10px;
}

#brush {
    position: fixed;
    left: 4px;
    bottom: 4px;
    padding: 10px;
}
#wipe {
    position: fixed;
    left: 130px;
    bottom: 4px;
    padding: 10px;
}

